.vscode/**
.vscode-test/**
node_modules/**
!node_modules/@platformatic/**
!node_modules/@node-rs/**
!node_modules/avsc/**
!node_modules/debug/**
!node_modules/fast-deep-equal/**
!node_modules/fast-uri/**
!node_modules/fastq/**
!node_modules/long/**
!node_modules/mnemonist/**
!node_modules/ms/**
!node_modules/obliterator/**
!node_modules/require-from-string/**
!node_modules/reusify/**
!node_modules/scule/**
.husky
.github
out/**
src/**
examples/**
.gitignore
.arp.config.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
