.vscode/**
.vscode-test/**
node_modules/**
!node_modules/@platformatic/wasm-utils/**
!node_modules/@platformatic/dynamic-buffer/**
.husky
.github
out/**
src/**
examples/**
.gitignore
.arp.config.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
